@font-face {
  font-family: "Hiragino";
  /*src: url("../fonts/hiragino-sans-gb-w3.ttf");*/
}

* {
  font-family: "Hiragino";
}

body {
  background-color: rgb(241, 242, 246);
}

.layout {
  padding-left: 260px;
  width: 100%;
  left: 0;
}

.sidebar {
  margin-left: -260px;
  width: 260px;
  height: 100%;
  position: fixed;
  background: #434A54;
}

.sidebar-header {
  padding: 10px;
  background: #434A54;
}

.sidebar-title a{
  font-size: 30px;
  color: #CCD1D9;
  line-height: 60px;
}

.sidebar-content {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.sidebar-list {
  position: relative;
}

.sidebar-list li a{
  color: #AAB2BD;
}

.sidebar-list li a:hover{
  background: #656D78;
  color: #ED5565;
}

.contents{
  padding-top: 20px;
  padding-left: 80px;
}

.thumbnail img:hover {
  cursor: pointer;
}

.thumbnail .title {
  font-size: 25px;
  margin: 0;
}

.thumbnail .content {
  padding: 1px;
  margin: 0;
  font-size: 16px;
}

#image-extended {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#image-extended img {
  margin-top: 30px;
  max-height: 90%;
  max-width: 90%;
}
