* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(241, 242, 246);
}

.layout {
  padding-left: 260px;
  width: 100%;
  left: 0;
}

.sidebar {
  position: fixed;
  margin-left: -260px;
  width: 260px;
  height: 100%;
}

.sidebar-header {
  background: #434A54;
}

.sidebar-title {
  padding: 10px;
}

.sidebar-title a {
  font-size: 30px;
  color: #CCD1D9;
  line-height: 60px;
}

#pull-button {
  display: none;
  cursor: pointer;
}

.sidebar-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #434A54;
}

.sidebar-search .input-group {
  padding: 10px;
}

.list-container {
  height: 100%;
  overflow: hidden;
}

.sidebar-list {
  position: relative;
  top: 0;
}

.sidebar-list li a {
  color: #AAB2BD;
}

.sidebar-list li a:hover {
  background: #656D78;
  color: #ED5565;
}

#contents {
  position: relative;
  padding-top: 20px;
  padding-left: 80px;
}

.thumbnail img {
  width: 340px;
}

.thumbnail img:hover {
  cursor: pointer;
}

.thumbnail .title {
  font-size: 25px;
  margin: 0;
}

.thumbnail .content {
  padding: 1px;
  margin: 0;
  font-size: 16px;
}

#image-extended {
  position: fixed;
  display: none;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) url("ajax-loading.gif") center no-repeat;
}

#image-extended.loaded {
  background: rgba(0, 0, 0, 0.6);
}

#image-extended img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  height: 80%;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .layout {
    padding: 0;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    margin-left: 0;
    z-index: 1;
  }

  .sidebar-header {
    width: 100%;
    background: #ED5565;
  }

  .sidebar-title {
    text-align: center;
  }

  .sidebar-title a {
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
  }

  #pull-button {
    display: block;
  }

  .sidebar-content {
    padding-right: 30%;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
  }

  .sidebar-content .sidebar-search,
  .sidebar-content .list-container {
    position: relative;
    background: #434A54;
    left: -100%;
  }

  .sidebar.open {
    height: 100%;
  }

  .sidebar.open .sidebar-content {
    visibility: visible;
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.25s ease-out;
    -webkit-transition: background 0.25s ease-out;
    -moz-transition: background 0.25s ease-out;
    -ms-transition: background 0.25s ease-out;
    -o-transition: background 0.25s ease-out;
  }

  .sidebar.open .sidebar-content .sidebar-search,
  .sidebar.open .sidebar-content .list-container {
    left: 0;
    transition: left 0.25s ease-out;
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -ms-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
  }

  #contents {
    padding-top: 60px;
    padding-left: 0;
  }

  #image-extended img {
    width: 90%;
    height: auto;
  }

  .thumbnail .title,
  .thumbnail .content {
    text-align: center;
  }
}
