<% for(var i=0; i<items.length; i++){ %>
<div class="thumbnail">
  <img class="img-rounded" src=<%= "img/"+items[i].imgs[0] %> alt="无法载入">
  <div class="caption">
    <p class="title"><%= items[i].name %></p>
    <p class="content"><%= items[i].tel %></p>
  </div>
</div>
<% } %>

